<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name = "Server.DataSaverService" behaviorConfiguration = "MEXGET">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8888"/>
          </baseAddresses>
        </host>
        <!--address = "net.tcp://localhost:8080/DataSaverService/"-->
        <endpoint
          address = "DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "simpleTCP"
          contract = "Server.ServiceContracts.INoteSaverService"
        />
        <endpoint
          address = "DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "simpleTCP"
          contract = "Server.ServiceContracts.IUserSaverService"
        />
        <endpoint
          address = "DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "simpleTCP"
          contract = "Server.ServiceContracts.ITodoSaverService"
        />
        <endpoint
          address = "DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "simpleTCP"
          contract = "Server.ServiceContracts.ISocialNetworkAccountInfoSaverService"
        />
        <endpoint
          address = "net.tcp://localhost:8008/DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "StreamedTCP"
          contract = "Server.ServiceContracts.IMusicStreamGetterService"
        />
        <endpoint
          address = "DataSaverService"
          binding = "netTcpBinding"
          bindingConfiguration = "simpleTCP"
          contract = "Server.ServiceContracts.IScheduleItemSaverService"
        />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name = "StreamedTCP"
                 transferMode = "Streamed"
                 sendTimeout = "00:10:00"
                 receiveTimeout = "24:00:00">
          <security mode = "None"/>
            <!--<transport clientCredentialType = "None" protectionLevel = "None"/>
          </security>-->
        </binding>
        <binding name = "simpleTCP">
          <security mode = "None"/>
            <!--<message clientCredentialType = "None"/>
          </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name = "MEXGET">
          <serviceMetadata httpGetEnabled = "true" httpGetUrl="http://localhost:8081"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>